*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif !important;
}

body {
    line-height: 1.5;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style-type: none;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #fff;
    padding: 20px 15px;
    border-bottom: 1px solid #DADADA;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        &-img {
            display: block;

        }
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.main {
    flex: 1;
    padding: 30px 0;

    &--auth {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.auth-form {
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;

    &__title {
        font-size: 28px;
        font-weight: 400;
        text-align: center;
    }

    &__text {
        margin-top: 10px;
        text-align: center;

        a {
            text-decoration: underline;
        }
    }
}

.message-text {
    margin: 15px 0;
    font-weight: 500;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;

    svg {
        font-size: 20px;
    }

    &--success {
        background-color: #9de897;
        color: #11450d;
    }
}

.alert {
    &--success {
        margin: 0 0 15px;
        border: 1px solid #1e4620 !important;
    }
}

.warning-text {
    font-weight: 400;
    color: #ef4836;
}

.eye-button {
    position: absolute !important;
    top: 10px !important;
    right: 10px;
    margin: 0 !important;
    min-width: 40px !important;
    color: #b0b0b0ee !important;

    &.show {
        color: #1976D2 !important;  
    }
}

.footer {
    border-top: 1px solid #DADADA;
    background-color: #fff;
    padding: 30px 15px 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;

    &__list {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__text {
        border-top: 1px solid #C0C0C0;
        padding-top: 20px;
        width: 100%;
        text-align: center;

        a {
            text-decoration: underline;
        }
    }
}
